.Menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	color: #FFFFCC;
	text-decoration: none;
	background-color: #000000;

}
.MenuDown {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-variant: small-caps;
	color: #00CC99;
	background-color: #000000;
	font-weight: bold;
	text-decoration: none;

}
.Heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #FFFFCC;
	background-color: #CC3366;
	background-position: right;

}
.Proud {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #FFFFCC;
	background-color: #000000;
	background-position: right;

}

.BodyText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-align:justify;
	font-weight: normal;
	color: #000000;
}

.Menu:Hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
	color: #CC3366;
}
.Menu:Active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-variant: small-caps;
	color: #CC3366;
	background-color: #000000;
	font-weight: bold;

}
